<h1>Listing overalls</h1>
<h2>Import Companies</h2>
<%= form_tag import_overalls_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Desk</th>
      <th>Getsat</th>
      <th>Usergrid</th>
      <th>Feedback</th>
      <th>Appcraft</th>
      <th>Stackoverflow</th>
      <th>Help</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @overalls.each do |overall| %>
      <tr>
        <td><%= @months[overall.date.month].to_s + ", " + overall.date.year.to_s %></td>
        <td><%= overall.desk %></td>
        <td><%= overall.getsat %></td>
        <td><%= overall.usergrid %></td>
        <td><%= overall.feedback %></td>
        <td><%= overall.appcraft %></td>
        <td><%= overall.stackoverflow %></td>
        <td><%= overall.help %></td>
        <td><%= link_to 'Edit', edit_overall_path(overall) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Overall', new_overall_path %>
