<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @overall.date %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @overall.desk %>
</p>

<p>
  <strong>Getsat:</strong>
  <%= @overall.getsat %>
</p>

<p>
  <strong>Usergrid:</strong>
  <%= @overall.usergrid %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @overall.feedback %>
</p>

<p>
  <strong>Appcraft:</strong>
  <%= @overall.appcraft %>
</p>

<p>
  <strong>Stackoverflow:</strong>
  <%= @overall.stackoverflow %>
</p>

<p>
  <strong>Help:</strong>
  <%= @overall.help %>
</p>

<%= link_to 'Edit', edit_overall_path(@overall) %> |
<%= link_to 'Back', overalls_path %>
